/*! Обнуление */
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*! Обнуление */

/* @media screen and (max-device-width: 480px){
	.body {
		width: 480px;
		box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
		font-family: 'PFDinTextCondPro';
		padding: 10px;
		margin: 10px 20px;
	}
	.nav{
		display: flex;
		max-width: 480px;
	}
	.logo{
		height: 35px;
	}

	.container{
		max-width: 780px;
		margin: 0 auto; позиционирование по центру
		padding-bottom: 120px;
	}
	.content{
		padding: 15px 3px;
	}
	.container p{
		font-size: 8px;
	}
	.container h1{
		font-size: 12px;
	}
} */




/* @media screen and (max-device-width:780px){
	.body {
		width: 780px;
		box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
		font-family: 'PFDinTextCondPro';
		padding: 10px;
		margin: 20px 30px;
	}
	.nav{
		display: flex;
		max-width: 780px;
	}
	.about_content p{

		text-align: center;
		font-size: 9px;
		max-width: 480px;
	}
	.logo{
		height: 40px;
	}

	.container{
		max-width: 780px;
		margin: 0 auto; позиционирование по центру
		padding-bottom: 120px;
	}
	.content{
		padding: 16px 3px;
	}
	.container p{
		font-size: 10px;
	}
	.container h1{
		font-size: 16px;
	}
} */



/* @media screen and (max-device-width: 950px){
	body {
		padding: 0;
		margin: 0;
	}
	.nav{
		display: flex;
		max-width: 750px;
	}
	.header {
		max-width: 950px;
		padding: 60px 60px;
	}
	.about_text img{
		max-width: 300px;
	}
	.logo {
		max-height: 60px;
		margin-right: 9px;
		align-items: center;
	}
	.menu li {
		padding-top: 20px;
		margin-right: 15px;
	}
	.menu_contact {
		padding-top: 10px;
		display: flex;
		float: right;
		margin-left: auto;
		letter-spacing: 0.1em;
	}
	.about_text p{
		font-size: 21px;
		padding: 40px 60px;
		max-width: 390px;
	}
	.container{
		max-width: 950px;
		padding: 60px 0px;
		margin: 0 auto; 
		padding-bottom: 90px;
	}
} */




/* @media screen and (max-device-width: 1130px){
	body {
		padding: 0;
		margin: 0;
	}
	.first{
		background: ;
		padding: 0 360px;
	}
	.nav{
		display: flex;
		max-width: 1130px;
	}
	.header {
		max-width: 1130px;
		padding: 60px 60px;
	}
	.about_text img{
		max-width: 300px;
	}
	
	.about_text p{
		font-size: 21px;
		padding: 40px 60px;
		max-width: 390px;
	}
	.container{
		max-width: 1130px;
		padding: 60px 0px;
		margin: 0 auto; 
		padding-bottom: 90px;
	}
} */






body {
	padding: 0;
	margin: 0;
}
ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}
.header {
	padding-top: 57px;
	background: url("img/background.jpg") no-repeat center top / cover;
}
.menu {
	display: flex;
}
.menu a {
	color: #fff;
}
.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 0.1em;
}
.first {
	background: url("img/background1.png") no-repeat center right / 610px;
}
.container {
	max-width: 1200px;
	margin: 0 auto; /*позиционирование по центру*/
	padding-bottom: 120px;
	padding: 60px 60px;
}
@media (max-width:1300px){
	.container{
		max-width: 1024px;
	}
	.photo_me{
		
	}
	.about-info-contacts{
		margin-top: 50px;
	}
	.about_content p {
	
		position: relative;
		padding-top: 40px;
		line-height: 1em;
		max-width: 660px;
		float: left;
		color: #4a4a44;
		font-family: "Open Sans", sans-serif;
		font-size: 27px;
		margin: 0;
		
		
	}
	/* .about_content img{
		position: absolute;
		margin: 0 auto;
	} */
}

@media (max-width:992px){
	.container{
		max-width: 750px;
	}
	.nav{
		display: flex;
		max-width: 100px;
	}
	.menu a {
		color: #fff;
	}
	.menu li a {
		text-transform: uppercase;
		text-decoration: none;
		font-size: 13px;
		letter-spacing: 0.1em;
	}
	.menu li {
		padding-top: 10px;
	}
	.logo {
		max-height: 50px;
		max-width: 50px;
		margin-right: 33px;
		align-items: center;
	}
	.menu_contact {
		padding-top: 10px;
		margin-left: auto;
		letter-spacing: 0.1em;
	}
	.w-contact {
		width: 22px;
		height: 22px;
	}
	.photo_me{
		
	}
	.about-info-contacts{
		float: right;
		position: absolute;
		margin-top: 50px;
	}
	.about-info-contacts li{
		padding-right: 30px;
	}
	.about_content p {
	
		position: relative;
		padding-top: 40px;
		line-height: 1em;
		max-width: 660px;
		float: left;
		color: #4a4a44;
		font-family: "Open Sans", sans-serif;
		font-size: 27px;
		margin: 0;
	}
	.image_left{
		padding-left: 20px;
		position: absolute;
		max-width: 180px;
		float: left;
	}
	.image_right{
		padding-right: 20px;
		position: relative;
		width: 180px;
		float: right;
	}
	.about_text_info_left img{
		padding-right: 20px;
		position: relative;
		width: 180px;
		float: right;

	}
	.about_text_info_right img{
		padding-left: 20px;
		position: absolute;
		max-width: 180px;
		float: left;
	}
}

@media (max-width:880px){
	.container{
		min-width: 800px;
	}
}


.menu li {
	padding-top: 20px;
	margin-right: 40px;
}
.nav {
	display: flex;
}
.logo {
	max-height: 60px;
	max-width: 60px;
	margin-right: 49px;
	align-items: center;
}
.about_text_info_left{


}
.about_text_info_right p{

}
.about_text_info_right img{

}
.menu_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color: #fff;
	text-decoration: none;

	transition: color 0.1s linear;
}
.menu_link:after {
	content: "";
	display: block;
	max-width: 100%;
	max-height: 3px;

	background-color: #d9dbf1;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;
}
.menu_link:hover {
	transition: color 0.1s linear;
	color: #d9dbf1;
}
.menu_link:hover::after {
	opacity: 1;
}
.menu_contact {
	padding-top: 10px;
	display: flex;
	float: right;
	margin-left: auto;
	letter-spacing: 0.1em;
}
.w-contact {
	max-width: 28px;
	max-height: 28px;
	margin-left: 28px;
}
.content {
	padding-top: 130px;
	padding-bottom: 120px;
	font-family: "Open Sans", sans-serif;
}
.content h1 {
	color: #d9dbf1;
	font-size: 53px;
}
.content p {
	color: #f3f4fa;
	font-size: 30px;
}
.story {
	border-radius: 0.5em;
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
	border: 1px solid #fff;
	max-width: 203px;
	padding: 17px 47px;
	color: #a7a7a7;
	font-size: 21px;
	font-family: "Anton" sans-serif;
	transition: 0.5s;
	overflow: hidden;
	position: relative;
}
.story span {
	position: absolute;
	width: 25%;
	height: 100%;
	transform: translateY(150%);
	border-radius: 50%;
	left: calc((var(--n) -1) * 25%);
	transition: all 0.5s ease;
	transition-delay: calc((var(--n) -1) * 0.1s);
}
.story:hover {
	transition: all 0.5s ease;
	background: #fff;
	color: #000;
}
.story:hover span {
	transform: translateY(0) scale(2);
}
.story span:nth-child(1) {
	--n: 1;
}
.story span:nth-child(2) {
	--n: 2;
}
.story span:nth-child(3) {
	--n: 3;
}
.story span:nth-child(4) {
	--n: 4;
}
.image-background {
	display: flex;
	max-width: 730px;
}
section {
	padding-top: 120px;
}
.about {
	padding-bottom: 360px;
}
h2 {
	position: relative;
	color: #d9dbf1;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 120px;
}
.about_content {
	padding-bottom: 100px;
}

.about-info-contacts{
	float: left;

}
.about_content p {
	position: absolute;
	
	padding-top: 40px;
	line-height: 1em;
	max-width: 860px;
	float: left;
	color: #4a4a44;
	font-family: "Open Sans", sans-serif;
	font-size: 27px;
	padding-right: 400px;
	
	
}

.about_content img {
	display: flex;
	float: right;
}
.photo_me {
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	background-color: #a7a7a7;
	padding: 10px;
	max-width: 260px;
}
.about_text {
	background: #f3f4fa;
	margin-bottom: 120px;
}
.about_text_info_left {
	font-size: 19px;
	font-family: "Anton" sans-serif;
	padding-bottom: 260px;
}
.about_text_info_left p {
	margin-left: 60px;
	margin-right: 350px;
	max-width: 600px;
	text-align: center;
	float: left;
}
.image_right {
	padding-right: 30px;
	position: relative;
	width: 230px;
	float: right;
}
.about_text_info_right p {
	margin-right: 60px;
	margin-left: 350px;
	max-width: 600px;
	text-align: center;
	float: right;
}
.about_text p{
	position: absolute;
}
.image_left {
	padding-left: 30px;
	position: absolute;
	max-width: 230px;
	float: left;
}
.about_text_info_right {
	padding-bottom: 260px;
	font-size: 19px;
	font-family: "Anton" sans-serif;
}
.about-info-contacts li:first-child{
	margin-left: 300px;
}
.about-info-contacts li{
	margin-right: 34px;
}
.about-info-contacts {
	padding-top: 118px;
	display: flex;
}
.about-info-contacts img {
	margin: 0 auto;
}
.about_contacts {
	letter-spacing: 0.1em;
	max-width: 28px;
	height: 28px;
}
.footer_info {
	max-width: 1200px;
	margin: 0 auto; /*позиционирование по центру*/
}
.footer_info p {
	text-align: center;
	font-size: 21px;
	color: #4a4a44;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding-bottom: 120px;
}
.menu_center{
	margin: 0 auto;
	text-align: center;
}
.menu_footer {
	display: flex;
	padding-bottom: 120px;
}
.menu_footer a {
	display: flex;
	color: #a7a7a7;
}
.menu_footer li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}
.menu_footer li {
	padding-top: 20px;
}
.copyright-f {
	width: 100%;
	height: 40px;
	background-color: #fff;
}

.copyright {
	margin: 0;
	font-size: 15px;
	line-height: 2.5rem;
	color: #4a4a44;
	text-align: center;
}

.fa-heart {
	color: #f44336;
}
.copyright a {
	text-decoration: none;
	color: #4a4a44;
}
.copyright a:hover {
	color: #ff5252;
}
.footer_link{
	margin: 0 auto;
	background: #29292d;
}
